.header h1 {
    color: #fff;
    margin: 0px; 
}
body {
    background-image: url('../imagenes/fondo.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
}
h3{
    color: #448cbd;
    text-align: center;
}
.header {
    background-color: #353333;
    height: 125px;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.table, th, td {
    text-align: center;
    border: 5px solid #5fc56d;
}

.conteiner {
    text-align: center; 
}

table {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
}

table th, table td {
    padding: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

